body {
    background: lightblue;
}

h1 {
  text-align: center;
}

h4 {
  font-style: italic;
}

.button {
  background-color: blueviolet;
  font-family: Times;
  color: white;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black;
  color: whitesmoke;
}